.container{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 2rem auto;
   
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.button {
  background-color: #1757b8;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 200px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.button:hover {
  background-color: #1455a0;
}

.buttons {
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addop{
  height: 200px;
  overflow-y: auto;
  border:1px  solid #000000;
   border-radius: 4px
}
